@import url(https://fonts.googleapis.com/css?family=Roboto);


/*---------------
  video background
----------------*/
video {
	display: none;
}

body {
	font-family: Roboto, Georgia, sans-serif;
	color: white;
	/*Sticky Footer fix*/
	display: flex;
	flex-direction: column;
	min-height: 100vh;	
}

/*------------------------
background image animation
------------------------*/
@keyframes opacity {
	0%{
		opacity:0;
	}	
		100%{
			opacity:1;
	}
}
/*--------------
background image
--------------*/
#bg-img {
		display: block;
    position: fixed;
    top: 0%;
    left: -500px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
		-webkit-filter:blur(7px);
		animation-timing-function: ease-in; 
	animation-name: opacity;
	animation-duration: 3s;
	animation-delay: 0s;
	animation-play-state: running;
}




#top-header {
	position: fixed;
	top: 0px;
	width:100%;
	z-index: 999;
}

/*Sticky Footer fix*/
main {
		flex-grow: 1;
}

.wrapper {
	position:relative;
	height:1px;
	margin-top: 50px;
	overflow:auto;
	overflow-x:hidden;
}


.contentwrapper {
	max-height:100%;
}

/*---------------
  Mobile Navbar
----------------*/

nav {
	background-color: rgba(20,40,40,0.5);
	min-height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

nav > img {
	height: 50px;
}

nav ul {
	color: #fff;
	margin: 0;
	padding: 0;
}

nav li:first-child ~ li {
	border-top: 2px groove;
}

nav li:first-child ~ li:active {
	background-color: rgba(10,10,10,0.5);
}

nav li:first-child ~ li a {
	display: block;
	text-decoration: none;
	padding: 5px;
	box-sizing: border-box;
	line-height: 2.5;
}

nav a:link, nav a:visited {
	color: #fff;
}

li {
	list-style-type: none;
	height: 0px;
	display: none;
	text-align: center;
}

li img {
	height: 50px;
	margin: 0;
	padding: 0;
}

li:first-child{
	display: block;
}

a.menuopen, a.menuclose {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
}

li:target .menuclose {
	z-index: 1000;
}

li:target~li {
	display: block;
	height: 50px;
}

/* ---Potential fix for 'Home' being bumped in 
by logo (if floated left) in transition.


li:target~li a {
	display: block;
	width: 70%;
	margin: auto;
}
*/

/* ---- End of Navbar ---- */

/*-------------
content styling
-------------*/
#about, #contact, #clients, #cases, #directions{
  background-color: rgba(20,40,40, 0.8);
	margin: 5%;
	border-radius: 3px;
}

#about, #clients, #cases, #contact{
	margin-bottom: 75px;
}

#about, #contact, #directions{
	padding: 5%;
}

#about{
	margin-top: 150px;
}

#cases a img, #clients a img{
-webkit-filter: grayscale(1); /* Chrome & Safari 6+ */
}

#cases a img:hover, #clients a img:hover {
  filter: none;
  -webkit-filter: none;
}

/*cases section*/

#cases div#case-previews{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	flex-grow: 1;	
}



#cases a img {
	margin: 10px;
}

h2{
	display: inline-block;
	border-bottom: 2px solid red;
	}

section  header{
	text-align: center;
}


/*----------
Cases info lightbox
----------*/
.lightbox {
	display: none;
}

.lightbox:target {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color:  rgba(0,0,0,0.8);	
}

.lightbox article {
	background-color: #dddddd;
	color:black;
	max-width: 60%;
	max-height: 80%;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	padding: 5% 10%;
	border-radius: 3px;
}

.lightbox article img {
	display:block;
	width: 90%;
	max-width: 300px;
	margin: auto;
	box-shadow: 2px 2px 15px;
}

.lightbox h3{
	display:inline-block;
	border-bottom: 2px solid red;
}

.lightbox p{
	text-align: left;
}

.lightbox .link {
	text-align: center;
}

.lightbox article a{
	text-decoration: none;
	font-weight: bold;
}

.lightbox article a:visited{
	color:#000;
}

.lightbox article a:hover{
	text-decoration: underline;
}

/* End of cases section*/

/* Client section */
#clients div{
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: space-around;
}

#clients img {
  margin: 0 10px;
}
/* end of client section */

#contact a img {
  width: 50%;
}

#social_media_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#social_media_icons a {
  text-align: center;
}

#statement p, h2 {
	text-align: center;
}

#map {
	height: 320px;
	width: 80%;
	margin: auto;
	border-radius: 3px;
	box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.3);
}

footer {
	color: #fff;
	background-color: #000;
	font-size: 0.6em;
	height: 50px;
	line-height: 5;
	text-align: center;
}

/*---------------
  Desktop Media Query
----------------*/

@media only screen and (min-width: 641px) {

	
video { 
		display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    min-width: 100%;
    min-height: 100%;
		z-index: -100;
    filter: blur(5px);
		-webkit-filter: blur(5px);	
	}
/*---------------
  Desktop Navbar
----------------*/
	
	nav > img {
		float: left;
	}
		
	nav ul {
		display: flex;
		height: 50px;
		justify-content: space-around;
	}
	
	nav ul li {
		display: inline;
		height: auto;
		flex-grow: 1;
	}
	
	nav li:first-child ~li {
		border-top: none;
	}
	
	nav li:first-child ~ li:hover {
		background-color: rgba(10,10,10,0.5);
	}
	
	#menutoggle {
		display: none;
	}
	
	
	#about, #clients, #cases, #contact{
	margin-bottom: 200px;
}	
	
/*---------------
  Desktop Map
----------------*/
	#map {
		height: 400px;
		max-width: 800px;
		
	}


/*---------------
  Social media icons
----------------*/

#contact a img {
  width: 20%; 
}
}