@import url(https://fonts.googleapis.com/css?family=Roboto);


/*---------------
  video background
----------------*/

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 		background: url(#) no-repeat;
  	background-size: cover;
  	transition: 1s opacity;
	  filter: blur(7px);
		-webkit-filter: blur(5px);
}

body {
	font-family: Roboto, Georgia, sans-serif;
	
	/*Sticky Footer fix*/
	display: flex;
	flex-direction: column;
	min-height: 100vh;	
}

header {
	position: fixed;
	top: 0px;
	width:100%;
}

main {
	/*Sticky Footer fix*/
	flex-grow: 1;
}

/*---------------
  Mobile Navbar
----------------*/

nav {
	background-color: rgba(1,1,1,0.5);
	min-height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

nav > img {
	height: 50px;
}

nav ul {
	color: #fff;
	margin: 0;
	padding: 0;
}

nav li:first-child ~ li {
	border-top: 2px groove;
}

nav li:first-child ~ li:hover {
	background-color: rgba(10,10,10,0.5);
}

nav li:first-child ~ li a {
	display: block;
	text-decoration: none;
	padding: 5px;
	box-sizing: border-box;
	line-height: 2.5;
}

nav a:link, nav a:visited {
	color: #fff;
}

li {
	list-style-type: none;
	height: 0px;
	display: none;
	text-align: center;
}

li img {
	height: 50px;
	margin: 0;
	padding: 0;
}

li:first-child{
	display: block;
}

a.menuopen, a.menuclose {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
}

li:target .menuclose {
	z-index: 1000;
}

li:target~li {
	display: block;
	height: 50px;
}

/* ---Potential fix for 'Home' being bumped in 
by logo (if floated left) in transition.


li:target~li a {
	display: block;
	width: 70%;
	margin: auto;
}
*/


/*---------------
  Desktop Navbar
----------------*/

@media screen and (min-width: 641px) {
	
	nav > img {
		float: left;
	}
		
	nav ul {
		display: flex;
		height: 50px;
		justify-content: space-around;
	}
	
	nav ul li {
		display: inline;
		height: auto;
		flex-grow: 1;
	}
	
	nav li:first-child ~li {
		border-top: none;
	}
	
	nav li:first-child ~li.hover {
		background-color: rgba(10,10,10,0.5);
	}
	
	#menutoggle {
		display: none;
	}
}


/* ---- End of Navbar ---- */

/* Client section */

#about, #contact, #clients, #cases{
  background-color: rgba(238, 250, 250, 0.8);
  margin-left: 5%;
  margin-right: 5%;
}

#cases{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	flex-grow: 1;	
}



#cases img {
	margin: 10px;
		  filter: gray; /* IE6-9*/
  -webkit-filter: grayscale(1); /* Chrome & Safari 6+ */
}

#cases img:hover {
  filter: none;
  -webkit-filter: none;
}

#clients {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: space-around;
	margin: 100px 5%;
}

#clients img {
  max-width: 100%;
  margin: 0 10px;
  filter: gray; /* IE6-9*/
  -webkit-filter: grayscale(1); /* Chrome & Safari 6+ */
}

#clients img:hover {
  filter: none;
  -webkit-filter: none;
}

/* end of client section */

#about section {
	margin: 100px 5%;
}

#contact a img {
  width: 25%;
}

#social_media_icons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/*---------------
  margin top, best practice??
----------------*/
section #statement{
	margin-top:150px;
}


#statement p, h2 {
	text-align: center;
}

footer {
	color: #fff;
	background-color: #000;
	font-size: 0.6em;
	height: 50px;
	line-height: 5;
	text-align: center;
}

