@import url(https://fonts.googleapis.com/css?family=Roboto);


/*---------------
  video background
----------------*/

video {
	display: none;
}

body {
	font-family: Roboto, Georgia, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	color: #fff;
	-webkit-overflow-scrolling: touch;
	/*Sticky Footer fix*/
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	min-height: 100vh;
}
  
/*------------------------
background image animation
------------------------*/

@-webkit-keyframes opacity {
	0%{
		opacity:0;
	}	
	100%{
		opacity:1;
	}
}

@keyframes opacity {
	0%{
		opacity:0;
	}	
	100%{
		opacity:1;
	}
}

/*--------------
background image
--------------*/

#bg-img {
	display: block;
	position: fixed;
	top: 0%;
	left: -500px;
	width: 100%;
	height: 100%;
	z-index: -100;
	-webkit-filter: blur(7px);
	-webkit-animation-timing-function: ease-in;
	        animation-timing-function: ease-in; 
	-webkit-animation-name: opacity; 
	        animation-name: opacity;
	-webkit-animation-duration: 3s;
	        animation-duration: 3s;
	-webkit-animation-delay: 0s;
	        animation-delay: 0s;
	-webkit-animation-play-state: running;
	        animation-play-state: running;
}

#top-header {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 999;
}

/*---------------
Sticky Footer fix
----------------*/

.wrapper {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	position: relative;
	height: 1px;
	margin-top: 50px;
	overflow: auto;
	overflow-x: hidden;
}

.contentwrapper {
	max-height: 100%;
}

/*---------------
  Mobile Navbar
----------------*/

nav {
	background-color: #2A2F36;
	min-height: 50px;
	width: 100%;
}

nav > a img {
	height: 50px;
	display: block;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li:first-child ~ li {
	border-top: 2px groove;
}

nav li:first-child ~ li:active {
	background-color: rgba(10,10,10,0.5);
}

nav li:first-child ~ li a {
	display: block;
	text-decoration: none;
	padding: 5px;
	box-sizing: border-box;
	line-height: 2.5;
}

nav a:link, nav a:visited {
	color: #fff;
}

li {
	list-style-type: none;
	display: none;
	text-align: center;
}

li img {
	height: 50px;
	margin: 0;
	padding: 0;
}

li:first-child {
	display: block;
}

a.menuopen, a.menuclose {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
}

a.menuclose {
	display: none;
}

li#menutoggle:target a.menuclose {
	display: block;
}

li#menutoggle:target a.menuopen {
	display: none;
}

li:target .menuclose {
	z-index: 1000;
}

li:target~li {
	display: block;
	height: 50px;
}

/* ---- End of Navbar ---- */

/*-------------
content styling
-------------*/

#about, #contact, #work, #directions {
  background-color: rgba(42,47,54, 0.8);
	margin: 5%;
	border-radius: 3px;
}

#about, #work, #contact, #directions {
	margin-bottom: 75px;
}

#about, #work, #contact, #directions {
	padding: 5%;
	text-align: center;
}

#about {
	margin-top: 150px;
	text-align: center;
}

#cases {
  margin-bottom: 100px;
}

.words {
	white-space: nowrap;
}

h2 {
  margin-bottom: 25px;
}

h2, h3 {
	line-height: 1.5em;
	display: inline-block;
	border-bottom: 2px solid #ff0000;
}

p {
  margin: 0 0 10px;
}

/*-------------------------
styling cases & clients img
--------------------------*/

#cases a img, #clients a img {
	opacity: 0.5;
}

#cases a:active img, #clients a:active img {
	opacity: 1;
}

/*-----------
cases section
------------*/

#cases div#case-previews {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;	
}

#cases a img {
	margin: 10px;
}

/*-----------------
Cases info lightbox
-----------------*/

.lightbox {
	display: none;
}

.lightbox:target {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);	
}

.lightbox article {
	background-color: #dddddd;
	color: black;
	max-width: 60%;
	max-height: 80%;
	text-align: center;
	margin: 5% auto;
	padding: 5% 10%;
	border-radius: 3px;
	overflow: auto;
}

.lightbox article img {
	display: block;
	width: 90%;
	max-width: 300px;
	margin: auto;
	box-shadow: 2px 2px 15px;
}

.lightbox p {
	text-align: left;
}

.lightbox .link {
	text-align: center;
}

.lightbox article a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

.lightbox article a:visited {
	color: #000;
}

.lightbox article a:hover {
	text-decoration: underline;
}

/* End of case info lightbox*/

/*------------
Client section 
-------------*/

#clients div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}

#clients img {
	margin: 0 10%;
}

/*-------------
Contact section
-------------*/

#social_media_icons {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	border-top: 2px solid #000000;
	padding-top: 30px;
}

#social_media_icons a {
	text-align: center;
}

address {
	text-align: center;
	padding-bottom: 30px;
}

address a {
	color: #fff;
}

/*-------------
Map section
-------------*/

#map {
	height: 320px;
	margin: auto;
	border-radius: 3px;
	box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.3);
}

/*-------------
Footer section
-------------*/

footer {
	color: #fff;
	background-color: #000;
	font-size: 0.6em;
	height: 50px;
	line-height: 5;
	text-align: center;
}





/*---------------
  Desktop Media Query
----------------*/

@media only screen and (min-width: 768px) {

/*---------------
Video background
----------------*/

video { 
	display: block;
	position: fixed;
	top: 0%;
	left: 0%;
	min-width: 100%;
	min-height: 100%;
	z-index: -100;
	filter: blur(5px);
	-webkit-filter: blur(5px);	
}
  
/*---------------
  Desktop Navbar
----------------*/

nav {
  background-color: rgba(42,47,54,0.5);
}
	
nav > a img {
	float: left;
}
		
nav ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	    -ms-flex-pack: distribute;
	        justify-content: space-around;
}
	
nav ul li {
	display: inline;
	height: auto;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}
	
nav li:first-child ~li {
	border-top: none;
}
	
nav li:first-child ~ li:hover {
	background-color: rgba(10,10,10,0.5);
}
	
#menutoggle {
	display: none;
}
	

/*---------------------------------------
Content styling desktop
---------------------------------------*/	
	
#about, #work, #contact {
	margin-bottom: 200px;
}	
  
/*---------------------------------------
Cases & Clients hover filter for desktop
---------------------------------------*/
  
  
#cases a img, #clients a img {
	-webkit-filter: grayscale(1); /* Chrome & Safari 6+ */
}

#cases a img:hover, #clients a img:hover {
	filter: none;
	-webkit-filter: none;
	opacity: 1;
}
  
/*-----------------------
Lightbox size for desktop
-----------------------*/
  
.lightbox article {
	max-height: 70%;
}
	
/*---------------
  Desktop Map
----------------*/
#map {
	height: 400px;
	width: 60%;
}
}